
.left_sec {
    width: 500px;
    /* background-color: aqua; */
    height: 100vh;
}

.logo {
    padding: 35px 50px;
    padding-left: 80px;
    font-size: 3.2rem;
    font-weight: 400;
    color: #000000;
    background-color: #A0E0C9;
    font-family: "Alata", sans-serif;
    letter-spacing: 2px;
    width: 100%;
    /* text-align: center; */
}

.logo span {
    margin-right: 10px;
    color: #000000;
}

.sidebar {
    padding: 200px 80px;

    font-size: 2.4rem;
    width: 100%;
    box-sizing: border-box;
}

.sidebar li {
    list-style: none;
    padding: 15px 24px;
    color: #ffffff;
    letter-spacing: 2px;
    /* margin-left: 80px; */
    display: flex;
    align-items: center;
}

.sidebar li span {
    margin-left: 44px;
}

.sidebar li:hover {
    /* background-color: #ffffff72; */
    background-color: hsla(0, 0%, 100%, 0.2);
    cursor: pointer;
}
